configuration { show-icons: false; }
* {
    font: "JetBrains Mono 11";
    background-color: transparent;
    text-color: #dbe5f5;
}
window {
    location: center; anchor: center; width: 620px;
    background-color: #151c28f5;
    border: 2px; border-color: #729bc6; border-radius: 18px;
}
mainbox { padding: 24px; spacing: 16px; children: [inputbar, message, listview]; }
inputbar { spacing: 14px; children: [prompt, entry]; }
prompt { text-color: #a8cdf2; font: "JetBrains Mono Bold 13"; }
entry { placeholder: "Cari…"; placeholder-color: #77889e; }
message { border: 0 0 1px; border-color: #334155; padding: 0 0 14px; }
textbox { text-color: #99abc1; }
listview { lines: 9; columns: 1; fixed-height: false; spacing: 5px; scrollbar: true; }
element { padding: 12px; border-radius: 9px; }
element selected.normal { background-color: #2a405b; text-color: #ffffff; }
element-text { vertical-align: 0.5; background-color: inherit; text-color: inherit; }
scrollbar { width: 3px; handle-color: #729bc6; }
